body {
    font-family: sans-serif;
    text-align: center;
    display: flex;
    background-image: url(bkg.png);
    background-position: center;
    background-repeat: no-repeat;
}
p{
    text-align: left;
}
.container{
    max-width: 800px;
    margin: 0 auto;
    background-color: #eee;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 15px;
    position: relative;
    width: 30%;
    margin-top: 10%;

}
.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    border-bottom: 1px solid #444;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }

.active:after {
    content: "\2212";/* (-) */
  }
  